<h2>Liste des Subjects</h2>

<table border="1" cellpadding="5">
  <thead>
    <tr>
      <th>Code</th>
      <th>Date de naissance</th>
      <th>Sexe</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of subjects">
      <td>{{ s.subjectCode }}</td>
      <td>{{ s.dateOfBirth | date }}</td>
      <td>{{ s.sex }}</td>
    </tr>
  </tbody>
</table>

<button class="btn btn-success mb-3" (click)="toggleCreateForm()">
    {{ showCreateForm ? 'Annuler' : 'Créer un patient' }}
  </button>

  <!-- Formulaire de création conditionnel -->
  <app-add-subject *ngIf="showCreateForm" (patientCreated)="onPatientCreated($event)"></app-add-subject>